html,
body {
  padding: 0;
  margin: 0;
}
body * {
  transition: 0.3s;
  font-family: "Livvic", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #24292e;
  color: #fff;
  height: auto;
  width: auto;
  padding: 15px 6px 15px 6px;
}
header a {
  color: #fff;
}
.logo-section {
  display: flex;
}
.search-bar {
  border: 1px solid rgb(158, 130, 130);
}
.search-bar input {
  border: none;
  background-color: #24292e;
  color: aliceblue;
}
nav ul {
  display: flex;
  margin: 5px;
}
nav ul li {
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 2px;
}
i {
  padding: 5px;
}
.icon-section {
  display: flex;
}
.icon-section img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

.second-nav {
  display: flex;
  border-bottom: 1px solid black;
  height: auto;
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
}
.second-nav .empty-div {
  flex: 1;
}
.second-nav .repo-nav {
  display: flex;
  flex: 2;
}
.repo-nav div {
  flex: 1;
}

main {
  display: flex;

  margin: auto;
}
.profile {
}

.profile img {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

section .repo-list {
  display: flex;
  flex-direction: column;
}
.reposection-nav {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-val {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-val {
  display: block;
}
