html,
body {
  padding: 0;
  margin: 0;
}
body * {
  transition: 0.3s;
  font-family: "Livvic", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #24292e;
  color: #fff;
  height: 10vh;
  width: auto;
  padding: 15px 5px 0 5px;
}
header a {
  color: #fff;
}
.logo-section {
  display: flex;
}
.search-bar {
  border: 1px solid rgb(158, 130, 130);
}
.search-bar input {
  border: none;
  background-color: #24292e;
  color: aliceblue;
}
nav ul {
  display: flex;
  margin: 5px;
}
nav ul li {
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 2px;
}
i {
  padding: 5px;
}
.icon-section {
  display: flex;
}
.icon-section img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

section {
  display: flex;
  border-bottom: 1px solid black;
  height: 11vh;
}
section .empty-div {
  flex: 1;
}
section .repo-nav {
  display: flex;
  flex: 2;
  padding: 5px;
}
section .repo-nav a {
}

main {
  display: flex;
}

.profile img {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}
